body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}


header {
  background-color: #ff6f00;  
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffd54f;  
}


.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f1f1f1;
  margin-top: 60px;  
  padding: 0 20px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.text-section {
  flex: 1;
  padding-right: 20px;
}

.text-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 180px;
  color:#ff6f00;
}

.text-section p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #555;
}

.text-section button {
  background-color: #ff6f00;
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.text-section button:hover {
  background-color: #e65c00;
  transform: scale(1.05);
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image-section img {
  width: 100%;
  max-width: 650px;  
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.image-section img:hover {
  transform: scale(1.1); 
}


.offers-section {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

.offers-section h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.offer-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.offer-card {
  background-color: #fff;
  width: 300px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.offer-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.offer-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.offer-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.offer-card p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

.offer-card button {
  background-color: #ff6f00;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.offer-card button:hover {
  background-color: #e65c00;
  transform: scale(1.05);
}


footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
  font-size: 14px;
  padding: 20px 0;
  background-color: #f1f1f1;
  border-top: 2px solid #ddd;
}

